.wel-text{
  color: rgb(78, 76, 76);
  border-radius: 2rem;
  padding: 0rem; 
  display: flex;
  justify-content:center;
  font-size: 1.5rem;
  font-family:sans-serif
}
.head-text{
  color: white;
  border-radius: 2rem;
  padding: 2rem; 
  display: flex;
  justify-content:center;
  font-size: 3rem;
  font-family:sans-serif
}

.linkss{
  color: rgb(14, 13, 13);
  padding: 2rem; 
  font-size: 1rem;
  font-family:cursive;
  list-style-type: none;
}

.card{
  color: white;
  margin-right: 20px;
  position: fixed;
  top: 1rem;
  left: 2rem;
  font-size:1.5rem;
}

.cardv{
  color: white;
  margin-left: 20px;
  position: fixed;
  top: 1rem;
  right: 2rem;
  font-size:1.5rem;
}
